<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- BOOSTRAPT -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/estilo.css">
    <title>Productos</title>
</head>
<body>
    <header>
        <!-- NAVBAR CON BOOTSTRAP -->
        <nav class="navbar navbar-expand-lg  navegacion">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="logoOtk" src="../img/logootk.jpg" alt="logo otk">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto menuOtk">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html"> Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="register.html"> Registrate </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productos.html"> Nuestros productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="carrito.html"> Carrito </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>
    <main class="productos">
        <h1> OTK shop </h1>

        <h2> Conoce nuestros productos </h2>

       <div class="contenedorProducto">

        <img class="imagenProducto" src="../img/naruto-21.jpg" alt="Remera de naruto">
        <p> Remera de naruto </p>
        <p class="card-text"> Tacto suave. Logotipo de colores fuertes y excelente
            calidad.</p>
    </div>

    <div class="contenedorProducto">

        <img class="imagenProducto" src="../img/IMG_20211005_202024401.jpg" alt="Buzo Anime">
        <p> Buzo anime  </p>
        <p class="card-text"> Tacto suave, bolsillo canguro. Logotipo de colores fuertes y excelente
            calidad.</p>
    </div>

    <div class="contenedorProducto">

        <img class="imagenProducto" src="../img/IMG_20211005_205434351.jpg" alt="buzo de Tanjiro">
        <p> Buzo de Tanjiro </p>
        <p class="card-text"> Tacto suave, bolsillo canguro. Logotipo de colores fuertes y excelente
            calidad.</p>
    </div>

    <div class="contenedorProducto">

        <img class="imagenProducto" src="../img/IMG_20211005_205528919.jpg" alt="Remera de Nezuko">
        <p> Buzo de Nezuko </p>
        <p class="card-text"> Tacto suave, bolsillo canguro. Logotipo de colores fuertes y excelente
            calidad.</p>
    </div> 

    </main>

   <footer>
    <p>&copy;2023 OTK shop  
        Todos los derechos reservados</p>
   </footer>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    
</body>
</html>